<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <form (ngSubmit)="onSubmit(f1)" #f1="ngForm">
            <div class="input-group">
                <span class="input-group-addon">MRN</span>
                <input id="msg" type="text" class="form-control" name="mrn" placeholder="Enter MRN" ngModel required>
            </div>
            <center><button type="submit" class="btn btn-large btn-success" style="margin-top: 40px; width: 100px; height: 40px; font-size: larger;">Go</button></center>
        </form>
        
    </div>
</div>

